.weekly-forecast {
    max-width: 1024px;
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
    margin: 0 auto 80px auto;
    background-color: rgba(var(--table-bg-rgb), 0.1);
    color: var(--text-color);
}

.weekly-forecast th,
.weekly-forecast td {
    width: calc(100% / 8);
    padding: 8px;
    border: 1px solid var(--table-border);
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.weekly-forecast th {
    background-color: rgba(var(--th-bg-rgb), 0.1);
    font-weight: bold;
}

.weekly-forecast tr:nth-child(even) {
    background-color: rgba(var(--tr-even-bg-rgb), 0.2);
}

.weekly-forecast tr:hover {
    background-color: rgba(var(--tr-hover-bg-rgb), 1);
}

/* CSS-Variablen für Light und Dark Mode */
body {
    --table-bg-rgb: 255, 255, 255;
    --text-color: #333333;
    --table-border: #555555;
    --th-bg-rgb: 68, 68, 68;
    --tr-even-bg-rgb: 58, 58, 58;
    --tr-hover-bg-rgb: 74, 74, 74;
}

body.dark-mode {
    --table-bg-rgb: 51, 51, 51;
    --text-color: #ffffff;
    --table-border: #555555;
    --th-bg-rgb: 68, 68, 68;
    --tr-even-bg-rgb: 58, 58, 58;
    --tr-hover-bg-rgb: 74, 74, 74;
}

